{% extends 'main/layoute.html' %}

{% block title %}
    <title>Первая страница на django</title>
{% endblock %}

{% block content%}

<h1>Добро пожаловать на {{caption}}!</h1>

<h5>Мы рады представить вам наш первый проект, созданный с использованием Django, одного из самых мощных и популярных фреймворков для веб-разработки. Здесь вы найдете информацию о нашем проекте, его целях и возможностях.</h5>

<h3>О проекте</h3>

<p>Наш проект нацелен на [опишите цель или миссию вашего проекта]. Мы стремимся предложить пользователям уникальный опыт, сочетая передовые технологии и удобный интерфейс.</p>

<h3>Особенности</h3>

<p>- Интуитивно понятный дизайн:<br>- Мы сделали наш сайт максимально простым и удобным для использования.
<br>- Адаптивность:<br>- Наш сайт отлично работает на любых устройствах, будь то компьютер, планшет или смартфон.
<br>- Безопасность:<br>- Мы уделяем особое внимание защите данных наших пользователей.</p>

<h3>Блог:</h3>

<p>Следите за нашими обновлениями и новостями в разделе блога. Здесь мы делимся полезными статьями, кейсами и новостями о развитии проекта.</p>

<h3>Контакты:</h3>

<p>Мы всегда открыты для общения. Если у вас есть вопросы или предложения, пожалуйста, свяжитесь с нами через форму обратной связи или по электронной почте.

Спасибо, что посетили наш сайт! Мы надеемся, что вы найдете его полезным и интересным.</p>

{% endblock %}
